* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

.container .header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
}
.container .header .mobile__menu {
  display: none;
}
.container .header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}
.container .header nav .header__menu {
  display: none;
}
.container .header nav ul {
  display: flex;
}
.container .header nav ul li {
  margin-left: 2.5rem;
}
.container .header nav ul li a {
  color: white;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
}
.container .header nav ul li:last-child > a {
  color: black;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-family: "Fraunces", sans-serif;
  transition: background-color 300ms ease-in-out;
}
.container .header nav ul li:last-child > a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}
.container .header__title {
  text-align: center;
  margin-top: 6rem;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-family: "Fraunces", sans-serif;
}
.container .header__downwardArrow {
  margin-top: 9rem;
  text-align: center;
}
.container .side {
  display: flex;
}
.container .side .side__container {
  width: 50%;
  padding: 10rem 0rem;
  line-height: 1.6;
}
.container .side .side__container > div {
  width: 60%;
  margin: auto;
}
.container .side__title {
  font-family: "Fraunces", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}
.container .side__desc {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #a7abae;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.container .side__link {
  text-transform: none;
  color: black;
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0rem 0.5rem;
  z-index: 1;
  position: relative;
}
.container .side .side__image {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container #first .side__image {
  background-image: url("../images/desktop/image-transform.jpg");
}
.container #first a::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  left: 0;
  height: 0.5rem;
  background-color: rgba(250, 212, 0, 0.5);
  transition: background-color 500ms ease-in-out;
}
.container #first a:hover::after {
  background-color: #fad400;
}
.container #second .side__image {
  background-image: url("../images/desktop/image-stand-out.jpg");
}
.container #second a::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  left: 0;
  height: 0.5rem;
  background-color: rgba(254, 120, 103, 0.5);
  transition: background-color 500ms ease-in-out;
}
.container #second a:hover::after {
  background-color: #fe7867;
}
.container section.self__contained {
  display: flex;
  text-align: center;
}
.container section.self__contained .contained {
  width: 50%;
  line-height: 1.6;
  padding: 25rem 0rem 5rem 0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container section.self__contained .contained__title {
  max-width: 50%;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Fraunces", sans-serif;
  color: #19536b;
}
.container section.self__contained .contained__desc {
  margin: auto;
  max-width: 45%;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
}
.container #third {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  color: #25564b;
}
.container #fourth {
  background-image: url("../images/desktop/image-photography.jpg");
  color: #19536b;
}
.container .testimonials {
  text-align: center;
  padding: 8rem 0rem;
}
.container .testimonials__heading {
  color: #a7abae;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  margin-bottom: 4rem;
}
.container .testimonials__container {
  display: flex;
  width: 80%;
  margin: auto;
}
.container .testimonials__container .testimonial {
  padding: 0rem 1rem;
}
.container .testimonials__container .testimonial img {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
}
.container .testimonials__container .testimonial__desc {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  margin-top: 3rem;
  line-height: 1.6;
  color: #818498;
  font-weight: 600;
}
.container .testimonials__container .testimonial__name {
  font-family: "Fraunces", sans-serif;
  font-size: 1.1rem;
  margin-top: 3rem;
  font-weight: 700;
}
.container .testimonials__container .testimonial__desg {
  font-family: "Barlow", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: #a7abae;
  margin-top: 0.5rem;
}
.container .image__container {
  display: flex;
  height: 475px;
}
.container .image__container > * {
  width: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .image__container__1 {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}
.container .image__container__3 {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
}
.container .image__container__2 {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
}
.container .image__container__4 {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}
.container footer {
  padding: 3rem;
  margin: auto;
  text-align: center;
  background-color: #64c4b1;
}
.container footer .footer__image {
  height: 24px;
  width: 124px;
  cursor: pointer;
}
.container footer a {
  color: #25564b;
  transition: color 300ms ease-in-out;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.container footer a:hover {
  color: white;
}
.container footer .footer__links {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.container footer .footer__links ul {
  text-align: center;
  margin: auto;
}
.container footer .footer__links ul li {
  display: inline-block;
  margin: 0rem 1.5rem;
}
.container footer .footer__link__image > i {
  margin: 0rem 1rem;
  font-size: 1.1rem;
  color: #25564b;
  transition: color 300ms ease-in-out;
}
.container footer .footer__link__image > i:hover {
  color: white;
}

@media (max-width: 1020px) {
  .container section.self__contained .contained__title {
    max-width: 80%;
  }
  .container section.self__contained .contained__desc {
    max-width: 80%;
  }
  .container .testimonials__container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container .header {
    background-image: url("../images/mobile/image-header.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  .container .header .mobile__menu {
    position: absolute;
    width: 100%;
    padding: 0 1.5rem;
    height: fit-content;
    left: 0;
  }
  .container .header .mobile__menu ul {
    background-color: white;
    display: flex;
    top: 20px;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;
    justify-content: center;
  }
  .container .header .mobile__menu ul li {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .container .header .mobile__menu ul li a {
    color: black;
    padding: 0.75rem;
    width: 50%;
    margin: auto;
    display: block;
    color: #818498;
    font-size: 1.1rem;
    font-family: "Barlow", sans-serif;
  }
  .container .header .mobile__menu ul li:last-child > a {
    color: black;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    background-color: yellow;
    font-size: 1.1rem;
    font-family: "Fraunces", sans-serif;
    transition: background-color 300ms ease-in-out;
  }
  .container .header .mobile__menu ul::before {
    position: absolute;
    content: "";
    right: 0px;
    width: 0;
    height: 0;
    top: -23px;
    border: 12px solid;
    border-color: transparent white white transparent;
  }
  .container .header nav {
    padding: 1.5rem;
  }
  .container .header nav .header__menu {
    display: block;
    cursor: pointer;
  }
  .container .header nav ul {
    display: none;
  }
  .container .header__title {
    text-align: center;
    margin-top: 2rem;
    padding: 0rem 1.4rem;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-family: "Fraunces", sans-serif;
  }
  .container .header__downwardArrow {
    margin-top: 5rem;
    text-align: center;
  }
  .container .side {
    display: flex;
    flex-direction: column-reverse;
  }
  .container .side .side__container {
    width: 100%;
    padding: 4rem 0rem;
    text-align: center;
  }
  .container .side .side__container > div {
    width: 90%;
  }
  .container .side .side__image {
    width: 100%;
    height: 300px;
  }
  .container #first .side__image {
    background-image: url("../images/mobile/image-transform.jpg");
  }
  .container #second {
    flex-direction: column;
  }
  .container #second .side__image {
    background-image: url("../images/mobile/image-stand-out.jpg");
  }
  .container section.self__contained {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container section.self__contained .contained {
    width: 100%;
    line-height: 1.6;
    padding: 25rem 0rem 5rem 0rem;
  }
  .container section.self__contained .contained__title {
    max-width: 90%;
  }
  .container section.self__contained .contained__desc {
    max-width: 90%;
  }
  .container #third {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }
  .container #fourth {
    background-image: url("../images/mobile/image-photography.jpg");
  }
  .container .testimonials {
    text-align: center;
    padding: 4rem 0rem 3rem 0rem;
  }
  .container .testimonials__heading {
    margin-bottom: 2rem;
  }
  .container .testimonials__container {
    flex-direction: column;
    margin: auto;
  }
  .container .testimonials__container .testimonial {
    padding: 2rem 1rem;
  }
  .container .testimonials__container .testimonial__desc {
    margin-top: 1rem;
  }
  .container .testimonials__container .testimonial__name {
    margin-top: 1rem;
  }
  .container .image__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
  }
  .container .image__container > * {
    height: 300px;
    width: 100%;
  }
  .container .image__container__1 {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
  .container .image__container__2 {
    background-image: url("../images/mobile/image-gallery-orange.jpg");
  }
  .container .image__container__3 {
    background-image: url("../images/mobile/image-gallery-cone.jpg");
  }
  .container .image__container__4 {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
  .container footer {
    padding: 2rem;
    margin: auto;
    text-align: center;
    background-color: #64c4b1;
  }
  .container footer .footer__links {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container footer .footer__links ul {
    text-align: center;
    margin: auto;
  }
  .container footer .footer__links ul li {
    margin: 0rem 1rem;
  }
  .container footer .footer__link__image > i {
    margin: 0rem 0.75rem;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
