* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

@mixin imagePlaceholder($image) {
  background-image: $image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
